.ask404{
    text-decoration: underline;
}
.skinsTable404 img{
	
	width: 22%;
}
.skinsTable404{
	
	width: 80%;
}
button.link {
  /* Первые два свойства нужны чтобы убрать отступы в IE */
  overflow: visible;
  width: auto;
 
  /* Убираем отступы */
  margin: 2% 0 0 0;
  padding: 0;
 
  /* Убираем все элементы оформления кнопки */
  background: none;
  border: none;
 
  /* Обычный для ссылок курсор */
  cursor: pointer;
}
 
/* Ссылка обычно подчеркнута */
button.link span {
  color: #0073aa;
// text-decoration: underline;
}