#content404
{
	font: 500 normal 24px "Open Sans", Helvetica, sans-serif;	
	width: 100%
}
#content404 .blockRandTable404
{
    width: 55%;
	margin:0 auto;
    text-align: center;
}
#content404 .blockRandTable404__wrapper
{

	overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
#content404 .startText404  
{
	margin:0 auto;
    text-align: center;
	width: 80%
}
#content404 .randTable404 
{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	height: 100%;
}
#content404 .randTable404 .randblock404 div img
{
	width: 100%;
	height: 100%;
    cursor: pointer;
}

#content404 .randTable404 .randblock404 div img:hover
{
	width: 100%;
	height: 100%;
	filter: brightness(0.8);
     cursor: pointer;
}
#content404 .randTable404 .randblock404 
{
	font-size: 70%;
	color: white;
    text-align: center;
	position: relative;
    width: 16.6%;	
    height: 16.6%;	
    float: left;

}

#content404 .blockanswerTable404
{
	width: 40%;
	margin:5% auto;

}
#content404 .answerTable404__wrapper
{
	overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 16.6%;
}
#content404 .answerTable404
{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	height: 100%;
}
#content404  .answerblock404
{
	color: white;
    text-align: center;
	position: relative;
    float: left;
	width: 16.6%;	
	height: 100%;	
}
#content404 .answerblock404 img
{
	width: 100%;
	height: 100%;
}
#content404 .BlockWithNumbers404
{
	float: left;
    width: 13%;
	margin: 0% 2%;
}
#content404 .BlockWithNumber404
{
	overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}
#content404 .BlockWithNumber404 div
{   
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	height: 100%;
	
}

#content404 .BlockWithNumber404 div  img 
{   
    margin: 0 auto;
	width: 100%;
	height: 100%;
}
#content404 .randomImage404
{
    width: 40%;
    margin: 2% 13%; 
    float: left;
}
#content404 .randomText404 
{

  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8%;
  float: left;
}
#content404 .randomText404 h2
{
  text-align: center;
  margin:0;
}

.cssload-container * {
	box-sizing: border-box;
}
.cssload-container {
	margin: 19px auto 0 auto;
	max-width: 545px;
}
.cssload-container ul {
     margin: 0;
	padding: 0;
}
.cssload-container ul li{
	list-style: none;
}

.cssload-flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.cssload-flex-container li {
	padding: 10px;
	height: 97px;
	width: 97px;
	margin: 29px 19px;
	position: relative;
	text-align: center;
}

.cssload-loading-center {
	display: inline-block;
	position: absolute;
	background: rgb(0,0,0);
	height: 29px;
	width: 29px;
	left: 35px;
	top: 36px;
	transform: rotate(45deg);
	border-radius: 3px;
	animation: pulse 1.15s ease infinite;
}

.cssload-loading {
	display: inline-block;
	position: relative;
	width: 73px;
	height: 73px;
	margin-top: 3px;
	transform: rotate(45deg);
}
.cssload-loading:after, .cssload-loading:before {
	position: absolute;
	content: '';
	height: 10px;
	width: 10px;
	display: block;
	top: 0;
	background: rgb(0,0,0);
	border-radius: 3px;
	animation-delay: -.5.75s;
}
.cssload-loading:after {
	right: 0;
	animation: square-tr 2.3s ease infinite;
	animation-delay: .143.75s;
}
.cssload-loading:before {
	animation: square-tl 2.3s ease infinite;
	animation-delay: .143.75s;
}

.cssload-loading.cssload-two {
	position: relative;
	top: -78px;
}
.cssload-loading.cssload-two:after, .cssload-loading.cssload-two:before {
	bottom: 0;
	top: initial;
}
.cssload-loading.cssload-two:after {
	animation: square-br 2.3s ease infinite;
	animation-direction: reverse;
}
.cssload-loading.cssload-two:before {
	animation: square-bl 2.3s ease infinite;
	animation-direction: reverse;
}



@keyframes square-tl {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0, 60.5px);
	}
	50% {
		transform: translate(60.5px, 60.5px);
	}
	75% {
		transform: translate(60.5px, 0);
	}
}

@keyframes square-bl {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0, -60.5px);
	}
	50% {
		transform: translate(60.5px, -60.5px);
	}
	75% {
		transform: translate(60.5px, 0);
	}
}

@keyframes square-tr {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(-60.5px, 0);
	}
	50% {
		transform: translate(-60.5px, 60.5px);
	}
	75% {
		transform: translate(0, 60.5px);
	}
}

@keyframes square-br {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(-60.5px, 0);
	}
	50% {
		transform: translate(-60.5px, -60.5px);
	}
	75% {
		transform: translate(0, -60.5px);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0%, 100% {
		transform: scale(inherit) rotate(45deg);
	}
	75% {
		transform: scale(0.25) rotate(45deg);
	}
}